.App {
  text-align: center;
}
html { overflow-y: hidden;
overflow-x: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  overflow: hidden;
  background: black;
}

.drawArea {
  float: left;
  background: white;
  position: absolute;
  cursor: crosshair;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.path {
  fill: none;
  /* stroke-width: 4px; */
  stroke-linejoin: round;
  stroke-linecap: round;
}
.path2 {
  fill: none;
  /* stroke-width: 4px; */
  stroke-linejoin: round;
  stroke-linecap: round;
}
.obstacle {
 /* -webkit-animation: obstacle 0.5s infinite; */
 /* fill: 	#f12711; */
 stroke-linejoin: round;
  stroke-linecap: round;
}
.target {
  border-radius: 50%;
  -webkit-animation: target2 2s infinite;
  box-shadow:
      inset 0 0 5px #fff,      /* inner white */
      inset 2px 0 8px #f0f,   /* inner left magenta short */
      inset -2px 0 8px #0ff,  /* inner right cyan short */
      inset 2px 0 30px #f0f,  /* inner left magenta broad */
      inset -2px 0 30px #0ff, /* inner right cyan broad */
      0 0 5px #fff,            /* outer white */
      -1px 0 8px #f0f,        /* outer left magenta */
      1px 0 8px #0ff;         /* outer right cyan */
}
.targetAnim {
}
.startPt {
  fill: none;
   /* stroke: startPt;  */
}
.animateSt {
 -webkit-animation: startPt 0.5s infinite;
}
.targetPt {
  fill: none;
}
.targetPtInitial {
  fill: orange;
}
.animateTar {
 -webkit-animation: startPt2 0.5s infinite;
}

.drawing {
  width: 100%;
  height: 100%;
}

.expParticle {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: grey;
  opacity: 0;
 -webkit-animation: explode 2s linear;
}
.brick {
  position: absolute;
  background: linear-gradient(-45deg, rgb(192, 35, 213), rgb(95, 81, 214));
}
.ice {
  position: absolute;
  height: 100px;
  width: 100px;
  background: rgb(0,0,255,0.3);
  /* opacity: 0; */
  /* -webkit-animation: iceAnim 1s linear; */
}
.iceAnim {
 -webkit-animation: iceAnim 1s linear;
}
.particle {
  height: 25px;
  position: absolute;
  width: 25px;
  top: 37px;
  left: 37px;
  background: linear-gradient(-45deg, #23A6D5, #23D5AB);
  opacity: 0;
  perspective: 800;
}
.anim1 {
 -webkit-animation: scatter 1s linear;
}
.anim2 {
  -webkit-animation: scatter2 1s linear;
 }
 .anim3 {
  -webkit-animation: scatter3 1s linear;
 }
 .anim4 {
  -webkit-animation: scatter4 1s linear;
 }
 @keyframes iceAnim {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scatter {
  0% {
    transform: scale(1) translate(0px, 0px) rotateX(0deg) rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.2) translate(-150px,-150px) rotateX(180deg) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes scatter2 {
  0% {
    transform: scale(1) translate(0px, 0px) rotateX(0deg) rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.2) translate(150px,-150px) rotateX(180deg) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes scatter3 {
  0% {
    transform: scale(1) translate(0px, 0px) rotateX(0deg) rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.2) translate(-150px,150px) rotateX(180deg) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes scatter4 {
  0% {
    transform: scale(1) translate(0px, 0px) rotateX(0deg) rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.2) translate(150px,150px) rotateX(180deg) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

@keyframes target {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes target2 {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes green-laser {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes startPt {
  0% {
    stroke: rgba(50, 184, 247, 0)  }
  50% {
    stroke: rgba(50, 184, 247, 0.5) 
  }
  100% {
    stroke: rgba(50, 184, 247, 0)  }
}
@keyframes obstacle {
  0% {
    stroke: rgba(128, 128, 128, 0)  }
  50% {
    stroke: rgba(128, 128, 128, 0.5) 
  }
  100% {
    stroke: rgba(128, 128, 128, 0)  }
}
@keyframes startPt2 {
  0% {
    stroke: rgba(182, 230, 23, 0)  }
  50% {
    stroke: rgba(182, 230, 23, 0.5) 
  }
  100% {
    stroke: rgba(182, 230, 23, 0)  }
}
.startDiv {
  position: absolute;
  background: linear-gradient(-45deg, #458fe4, #56a8ce);
 -webkit-animation: Gradient 1s infinite;
  box-shadow: #222;
}
.tarDiv {
  position: absolute;
  border-radius: 10px;
  background: white;
  box-shadow: #222
}
.activeTar {
  background: linear-gradient(-45deg, #23A6D5, #23D5AB);
  opacity: 1;
}
.lineLength {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 20px;
  background: #23D5AB;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@-webkit-keyframes rot {
	0% {
		transform: rotateX(0)
	}
	100% {
		transform: rotateX(360)
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
  box-shadow: 0px 0px 100px #23A6D5;
	}
	50% {
  box-shadow: 0px 0px 50px #23D5AB;
	}
	100% {
  box-shadow: 0px 0px 100px #23A6D5;
	}
}